body {
  background-color: rgba(0, 0, 0, 0.815);
}
h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

.poster {
  width: 50%;
  margin-left: 30%;
  margin-top: 200px;
  color: black;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 10px solid black;
  width: 200%;
}
